

.typecourse {
	width: 30%;
	float: right;
	display: block;
	margin-right: 125px;
	margin-top: -37px;
}
.typecourse1 {
	background-color: #1bb4b9;
	color: white;
	font-size: 15px;
}
.lablecourse {
	font-weight: bold;
}


.d-flex { display: flex;}
.align-items-center{ align-items:center;}
.justify-between{ justify-content:space-between;}
.row-reverse{ flex-direction: row-reverse;}
.p-15{
	padding:15px !important;
}
.mb-10{
	margin-bottom:10px;
}
.p-0{
	padding:0px !important;
}
.pb-40{
	padding-bottom:40px;
}

.w-full{
	width:100%;
}

.m-0{
	margin:0px !important;
}
.topWrap .main{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.head-right{ display: flex; align-items:center;  }

/* Ramesh Singh Shekhawat change course Img */
.home-page-course {
	max-width: 100%;
	height: 236px;
}
.course-list-page {
	max-width: 100%;
	height: 199px;
}
.course-details-page {
	max-width: 100%;
	height: 315px;
}
/* .sc_contact_form.sc_contact_form_contact.contact_form_1 {
	margin-left: 189px;
} */
.selected-country img{
	width: 20px;
	padding: 0px 6px 0px 8px;
}
.country-listing img{
	width: 20px;
	margin-right:10px;
}

.validation_error{
	color:#ec0f0f;
}
.alert-danger {
	color: #fff;
	background-color: #dc3545;
	border-color: #d32535;
	padding: 15px;
	text-align: center;
	margin-top: 2%;
}
.alert-success {
	color: #fff;
	background-color: #3db339;
	border-color: #3db339;
	padding: 15px;
	text-align: center;
	margin-top: 2%;
}

.subscription_submit_button{
	font-family: 'Fredoka One', cursive;
	float:right;
	right:28%;
	margin-top:2%;
}
.subscription_submit_button > button{
	background-color: #b9ea6b !important;
    border-radius: 30px !important;
	
}
.subscription_submit_button > button.submit{
	padding:0px 15px;
	height:auto;
}

.course-details-offers{
    float: right !important;
}

.country-wrap{
	width: 100px;
	display:inline-block;
	border:solid 1px #ccc;
	border-radius:5px;
	position:relative;
	cursor:pointer;
	margin-left:10px;
	border:solid 2px #1bb4b9;
}

.country-wrap .selected-country{
	display:flex;
	padding:10px 0px;
	align-items:center;
	color:#151515;
	padding-right:28px;
}
.country-wrap .selected-country::before{
	content:'\e824';
	position:absolute;
	right:5px;
	top:7px;
	z-index:2;
	width:28px;
	height:28px;
	font-family: "fontello";
	font-size:16px;
	color:#151515;
	line-height:29px;
	text-align:center;	
}

.country-wrap .country-listing{
	margin-top:10px;
	visibility: hidden;
	opacity:0;
	position:absolute;
	top:100%;
	border-radius:5px;
	font-weight:600;
	width:100%;
	left:0;
	border:solid 1px #ccc;
	transition: all 0.4s ease-in-out;
	z-index: 999;
}
.country-wrap:hover .country-listing{
	margin-top:0;
	opacity:1;
	visibility: visible;
}
.country-listing ul{
	list-style: none;
	padding:0px;
	margin:0px;
}

.country-listing li a{
	display:flex;
	background:#fff;
	font-size:14px;
	
	color:#151515;
	align-items:center;
	padding:5px 10px;
	border-top:solid 1px #e9e9e9;
}
.country-listing li:hover a{
	background-color: #f8f8f8;
 }
.d-flex {
	display:flex;
}
.align-items-center{
	align-items:center;
}
.country-listing li:first-child{
	border-radius:5px 5px 0px 0px;
}
.country-listing li:last-child{
	border-radius:0px 0px 5px 5px;
}

/* Home Page Main Course Session   */


.session_per_price {
	float: right;
max-width: 150px;
margin: -17px 13px 0 20px !important;
font-size: 13px !important;
font-family: 'Ubuntu', sans-serif;
font-weight: 100;
}
.course_price {
	color: white;
	float: right;
}

.course_perday_price {
	float: right;
}

.list-style-dot li:before {
  content: '';
  background-image: url('/assets/front/images/demo.png');
  float: left;
  margin-left: -1.5em;
  width: 15px;
height: 15px;
margin-top: 10px;
background-size: 100%;
background-repeat: no-repeat;
}
 .list-style-dot li {
	list-style:none;
}
.feature_span{
line-height: 1.5;
}
/* Course Page Uppercase to lowercase  */
input[type="submit"], input[type="button"], .squareButton {
	height: 40px;
	list-style: none;
	display: inline-block;
	vertical-align: bottom;
	position: relative;
	/* float: left; */
	font-family: 'Fredoka One', cursive;
	/* text-transform: lowercase!important; */
}

.course_detail_button a {
	z-index: 1 !important;
	font-size: 14px !important;
}

.course_curriculum img {
	max-width: 100%;
	height: 350px!important;
}

.theme_skin_learnplay .sc_team .sc_team_item_position {
	font-size: 12px;
	color: #878787;
	text-transform: uppercase;
	text-align: left;
}
.chat_us{
	position:fixed;
	z-index:999;
	bottom:10px;
	left:15px;
	color:black;
	font-size:13px;
	background-color:#1BB4B9;
	height:50px;
	width:150px;
	border-radius: 50px;
	transition: all 0.4s;
	/* padding: 7px 15px; */
	/* display:inline-block; */
	display:flex;
	align-items:center;
	

}
.courses-heading{
	color: #000;
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 20px;
}
.course-group{
	margin-bottom: 30px;
	padding:25px 15px;
	background-color: #e9e9e9;
	border-radius: 10px;
	padding-bottom: 0px;
}
.chat_img{
	width:25px;
	height:25px;
	margin-left:15px;


}
.chat_text a{
	font-size:14px;
	margin-left:10px;
	color:#fff!important;
}
.booking_demo{
	margin-bottom: 10px;
	width:100%;
	height:50px;
	display:flex;
	justify-content:end;
}
.booking_demo a {
    background-color: #1BB4B9;
    margin: 10px;
    height: 41px;
    width: 119px;
    text-align: center;
    line-height: 40px;
    border-radius: 23px;
    color: #fff;
	
}
.booking_demo a:hover{
    color:#fff;
    
}

/* contact page start */
.form-container {
	padding: 0 10% 0 10%;
}


.testimonial_form{
	padding-bottom:80px;
	
}
.testimonial_form .user-dashboard{
	background-color:#fff;
}

/* .contact-details{
	background-color: rgb(255, 255, 255);
	width: 100%;
	height: 400px;
	padding: 0px 50px;
	display: flex;
}

.form-left{
	background-color: rgb(255, 255, 255);
	width: 45%;
	height: auto;
	margin: 10px;
	
}
.form-right{
	background-color: rgb(255, 255, 255);
	width: 45%;
	height: auto;
	margin: 10px;
	
	
}
.secound-name {
    margin-top: 27px;
}
input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
} 

input[type=submit] {
	background-color: #04AA6D;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}


.btns-with-submit a{
	background-color: #1BB4B9;
	padding: 6px 18px;
	color: #fff;
	display: inline-block;
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	border-radius: 3px;
}
.btns-with-submit a:hover{
	color: #fff;
} */
/* contact page end */


.course-price{
	margin: 0px 4% 30px 0px;
}
/* .login a{
background-color: #1BB4B9;
display: inline-block;
padding:7px 15px;
color:white;
font-size:14px;
font-weight:500;
border-radius: 4px;
text-transform: uppercase; */



/* }
.login a:hover{
	color:white;
	
	
	
	} */
.login
{
	margin-left:20px;


}
.login-forms-1{
	height: 600px;
	width: 100%;
	
	display:flex;
	padding:2% 9%;
	}

.form-login-1{
	width: 40%;
	height: 500px;
}

.form-register-1{
	width:40%;
	height:500px;	
}

#selectedCountry{
	color:#000;
	font-size:14px;
	font-weight:600;
}


/* Login page start */
.contact-details{
    display: flex;
    
	margin-bottom:5%;
	margin-top:3%;
	border: 5px solid #1bb4b9;
}

.form-left {
	background-color: rgb(255, 255, 255);
	height: 50%;
	margin: 1%;
	padding: 3%;
	width:50%;
	float: left;
}
.vertical-line {
    border-left: 2px solid #1bb4b9;
    float: left;
    margin: 10% 0;
}
.form-right{
	background-color: rgb(255, 255, 255);
	height: 50%;
	margin: 1%;
	width:50%;
	padding: 3%;
	float:right
}

.registration-button{
	margin: 15px 50px 30px 0px;
	align-items: center;
}

.secound-name {
    margin-top: 27px;
}
/* input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
  } */
  
  /* input[type=submit] {
	background-color: #04AA6D;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  input[type=submit]:hover {
	background-color: #45a049;
  } */
  
  /* .container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
  }
  .container {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
} */

.text-danger{
	color:#ff0000;
}

.profile-menus{
	padding: 0px;
    margin: 3% 0;
}
.post_format_standard{
	margin:2% 0;
}

.icon_money {margin-left: 70%;}
.price_with_offer {margin-left:60%;}
#forgotPasswordFormLink{ right:20%}

.squareButton.huge > a, .squareButton.huge > button, .squareButton.huge > span{
	margin:0px;
	padding:1px 20px !important;
}

.squareButton.huge > a{
	padding:0px 20px !important;
}

.sc_blogger.style_image_classes .classes_price{
	font-size:22px;
}

.sc_blogger.style_image_classes .sc_blogger_title{
	margin:0px;
	min-height:auto;
	padding-bottom:0px !important;
}

h5.course_session{ 
	margin-bottom:0px;
	font-size:16px;
	font-weight:semibold;
	padding:0px;
}



.h-auto{
	height:auto !important;
}

form.subscribe{
	max-width:600px;
	width:100%;
	position:relative;
}
form.subscribe .theme_skin_learnplay .sc_emailer.inputSubmitAnimation{
	width:100%;
}

form.subscribe .squareButton.huge{
	position:absolute;
	right:0;
	top:0;
	margin:0px;
	width:133px;
	padding:0px;
}

form.subscribe .sc_emailer.inputSubmitAnimation{
	height:auto;
	min-height:55px;
}
form.subscribe .sc_emailer.inputSubmitAnimation .sInput{
	height:auto;
	min-height:55px;
	max-width:100%;
	
}
form.subscribe .squareButton.light.huge, 
form.subscribe .squareButton.dark.huge, 
form.subscribe .squareButton.global.huge{
	padding:0px !important;
}

.contactFooter .logo{
	max-width:200px;
	padding:10px;
	border-radius:10px;
	background-color:#fff;
}

.other-layouts-footer ul{
	padding:0px;
}
.copy.main{
	margin:0px;
	padding:0;
	text-align:center;
	height:auto;
}

.footerContentWrap{
	padding-bottom: 50px;
    background: #ea624c;
}

.upToScroll.buttonShow{
	bottom:10px;
	right:10px;
	height:80px;
	width:80px;
}
.list-style-dot{
	padding-left:22px;
}

.course_perday_price{ display: block; float:none; }
.reviews_summary.blog_reviews.p-15{
	position: relative;
}
.sc_blogger.style_image_classes .sc_blogger_item .sc_blogger_content{
	top:100%;
	z-index:100;
}

.sc_blogger.style_image_classes .sc_blogger_item:hover .sc_blogger_content{
	top:0px;
	bottom:auto;
}

.certificate{
	z-index:8;
	position: absolute;
    top: -33px;
    height: auto;
    color: #fff;
    font-size: 14px;
    background: #00000080;
    width: 94%;
    left: 0;
    padding: 6px 10px;
    font-weight: 600;
}


.copyWrap,
.copyWrap a{
	color:#fff !important;
	background-color:#ea624c !important;
}


.hero-slider{height:calc(80vh - 60px); background-color:#000;}
.hero-slider .owl-stage-outer, 
.hero-slider .owl-stage-outer div{ height:100%; }
.hero-slider img{ opacity:0.5; position: absolute; z-index:-1; height:100%; width:auto; object-fit:cover;  }

.hero-slider .active img{ animation: scale 20s linear infinite;}
.hero-slider .main{ height:100%; position: relative; z-index:5;display: flex; align-items:center;  }
.hero-slider .main .slider-content{ max-width:600px; width:100%; }
.hero-slider .main .heading-sec{ font-size:45px; color:#fff; margin-bottom:20px; line-height:normal; font-family: 'Ubuntu', sans-serif; font-weight:600; }
.hero-slider .main .short-description{ font-size:20px; color:#fff; margin-bottom:40px; font-family: 'Ubuntu', sans-serif;  font-weight:500;  }
.hero-slider .main div{ height:auto; }
.hero-slider .main .button-sec a{ color:#000000; background-color:#fff; border-radius:100px; }

@keyframes scale {
	50% {
	  -webkit-transform:scale(1.2);
	  -moz-transform:scale(1.2);
	  -ms-transform:scale(1.2);
	  -o-transform:scale(1.2);
	  transform:scale(1.2);
	}
  }


.owl-carousel .owl-dots{ position: absolute; bottom:0; margin:0px auto; left:0; right:0; }
.owl-carousel .owl-nav{margin:0px; padding:0px; }
.owl-carousel .owl-nav button{   position: absolute; top:50%; height:auto !important;   transform: translateY(-50%);}
.owl-carousel .owl-nav button span{ display: none;}
.owl-carousel .owl-nav button.owl-next{ right:20px; }
.owl-carousel .owl-nav button.owl-next::after{content: '\e826'; z-index: 2; background-color:#00000020;  min-height:50px; min-width:50px; max-width:50px; max-height:50px; border-radius:100%; justify-content:center;  width: 28px; height: 28px; font-family: "fontello"; font-size: 18px;	display: flex;	align-items: center; color: #ffffff; line-height: 29px; text-align: center;}
.owl-carousel .owl-nav button.owl-prev{ left:20px; }
.owl-carousel .owl-nav button.owl-prev::after{content: '\e825'; z-index: 2; width: 28px;	background-color:#00000020;  min-height:50px; min-width:50px; max-width:50px; max-height:50px; border-radius:100%; justify-content:center;  height: 28px; font-family: "fontello"; font-size: 18px; display: flex;	align-items: center; color: #ffffff; line-height: 29px;    text-align: center;}
.owl-carousel .owl-nav [class*=owl-]:hover{  background:none; }